In [1]:
# =============================================================================
# Import OHLCV data and transform it to Renko
# Author : Mayank Rasu (http://rasuquant.com/wp/)

# Please report bug/issues in the Q&A section
# =============================================================================

# Import necesary libraries
import yfinance as yf
from stocktrends import Renko

# Download historical data for required stocks
tickers = ["AMZN","GOOG","MSFT"]
ohlcv_data = {}
hour_data = {}
renko_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp
    temp = yf.download(ticker,period='1y',interval='1h')
    temp.dropna(how="any",inplace=True)
    hour_data[ticker] = temp
    
def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L","H-PC","L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]

def renko_DF(DF, hourly_df):
    "function to convert ohlc data into renko bricks"
    df = DF.copy()
    df.reset_index(inplace=True)
    df.drop("Close",axis=1,inplace=True)
    df.columns = ["date","open","high","low","close","volume"]
    df2 = Renko(df)
    df2.brick_size = 3*round(ATR(hourly_df,120).iloc[-1],0)
    renko_df = df2.get_ohlc_data() #if using older version of the library please use get_bricks() instead
    return renko_df

for ticker in ohlcv_data:
    renko_data[ticker] = renko_DF(ohlcv_data[ticker],hour_data[ticker])

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [9]:
ohlcv_data

{'AMZN':                                  Open        High         Low       Close  \
 Datetime
 2024-04-23 10:55:00-04:00  177.859695  178.199997  177.824997  178.100006
 2024-04-23 11:00:00-04:00  178.110001  178.149994  177.320007  177.444702
 2024-04-23 11:05:00-04:00  177.449997  177.630005  177.410004  177.559998
 2024-04-23 11:10:00-04:00  177.589996  178.139999  177.589996  178.110107
 2024-04-23 11:15:00-04:00  178.130005  178.330002  178.029999  178.139999
 ...                               ...         ...         ...         ...
 2024-05-23 10:35:00-04:00  182.740097  183.233002  182.740097  183.220001
 2024-05-23 10:40:00-04:00  183.219894  183.304993  182.910004  182.945007
 2024-05-23 10:45:00-04:00  182.964996  183.349197  182.940094  183.300003
 2024-05-23 10:50:00-04:00  183.300003  183.330002  182.759995  182.761307
 2024-05-23 10:55:00-04:00  182.759995  182.832993  182.539993  182.740005

                             Adj Close  Volume
 Datetime
 2024-04-23 10:55:00-04:00  178.100006       0
 2024-04-23 11:00:00-04:00  177.444702  352941
 2024-04-23 11:05:00-04:00  177.559998  231957
 2024-04-23 11:10:00-04:00  178.110107  270100
 2024-04-23 11:15:00-04:00  178.139999  360744
 ...                               ...     ...
 2024-05-23 10:35:00-04:00  183.220001  373462
 2024-05-23 10:40:00-04:00  182.945007  284798
 2024-05-23 10:45:00-04:00  183.300003  302916
 2024-05-23 10:50:00-04:00  182.761307  214676
 2024-05-23 10:55:00-04:00  182.740005  234564

 [1715 rows x 6 columns],
 'GOOG':                                  Open        High         Low       Close  \
 Datetime
 2024-04-23 10:55:00-04:00  159.619995  159.964996  159.539993  159.929993
 2024-04-23 11:00:00-04:00  159.934998  159.990005  159.429993  159.460007
 2024-04-23 11:05:00-04:00  159.468002  159.664993  159.460007  159.660004
 2024-04-23 11:10:00-04:00  159.669998  159.970001  159.669998  159.899994
 2024-04-23 11:15:00-04:00  159.910004  160.048004  159.845001  160.005005
 ...                               ...         ...         ...         ...
 2024-05-23 10:35:00-04:00  177.395401  177.589996  177.350006  177.429993
 2024-05-23 10:40:00-04:00  177.429993  177.440002  177.070007  177.149994
 2024-05-23 10:45:00-04:00  177.160004  177.320007  177.139999  177.270004
 2024-05-23 10:50:00-04:00  177.279999  177.300003  177.080002  177.080002
 2024-05-23 10:55:00-04:00  177.059998  177.134995  176.979996  177.086197

                             Adj Close  Volume
 Datetime
 2024-04-23 10:55:00-04:00  159.929993       0
 2024-04-23 11:00:00-04:00  159.460007  216628
 2024-04-23 11:05:00-04:00  159.660004  107263
 2024-04-23 11:10:00-04:00  159.899994  141330
 2024-04-23 11:15:00-04:00  160.005005  190398
 ...                               ...     ...
 2024-05-23 10:35:00-04:00  177.429993  149369
 2024-05-23 10:40:00-04:00  177.149994  133132
 2024-05-23 10:45:00-04:00  177.270004  110520
 2024-05-23 10:50:00-04:00  177.080002  114999
 2024-05-23 10:55:00-04:00  177.086197  161285

 [1715 rows x 6 columns],
 'MSFT':                                  Open        High         Low       Close  \
 Datetime
 2024-04-23 10:55:00-04:00  407.339996  407.619995  407.239990  407.450012
 2024-04-23 11:00:00-04:00  407.480011  407.700012  406.170013  406.440002
 2024-04-23 11:05:00-04:00  406.425812  406.640015  405.839996  406.000000
 2024-04-23 11:10:00-04:00  406.040009  406.809998  406.040009  406.739990
 2024-04-23 11:15:00-04:00  406.790009  406.869995  406.529999  406.579803
 ...                               ...         ...         ...         ...
 2024-05-23 10:35:00-04:00  432.220001  432.599915  432.070007  432.535004
 2024-05-23 10:40:00-04:00  432.524994  432.750000  432.269989  432.285004
 2024-05-23 10:45:00-04:00  432.230011  432.299988  431.750000  431.787598
 2024-05-23 10:50:00-04:00  431.750000  431.850006  431.359985  431.600006
 2024-05-23 10:55:00-04:00  431.600006  431.600006  430.690002  430.690002

                             Adj Close  Volume
 Datetime
 2024-04-23 10:55:00-04:00  407.450012       0
 2024-04-23 11:00:00-04:00  406.440002  156235
 2024-04-23 11:05:00-04:00  406.000000  132899
 2024-04-23 11:10:00-04:00  406.739990  105048
 2024-04-23 11:15:00-04:00  406.579803  122228
 ...                               ...     ...
 2024-05-23 10:35:00-04:00  432.535004  174086
 2024-05-23 10:40:00-04:00  432.285004  227988
 2024-05-23 10:45:00-04:00  431.787598  112100
 2024-05-23 10:50:00-04:00  431.600006  146190
 2024-05-23 10:55:00-04:00  430.690002  130616

 [1715 rows x 6 columns]}

In [8]:
renko_data['AMZN']

                        date   open   high    low  close  uptrend
0  2024-04-23 10:55:00-04:00  174.0  177.0  174.0  177.0     True
1  2024-04-24 09:35:00-04:00  177.0  180.0  177.0  180.0     True
2  2024-04-25 09:30:00-04:00  177.0  177.0  174.0  174.0    False
3  2024-04-25 09:30:00-04:00  174.0  174.0  171.0  171.0    False
4  2024-04-26 09:35:00-04:00  174.0  177.0  174.0  177.0     True
5  2024-04-26 12:35:00-04:00  177.0  180.0  177.0  180.0     True
6  2024-05-01 14:40:00-04:00  180.0  183.0  180.0  183.0     True
7  2024-05-03 09:30:00-04:00  183.0  186.0  183.0  186.0     True
8  2024-05-07 09:40:00-04:00  186.0  189.0  186.0  189.0     True
9  2024-05-21 09:30:00-04:00  186.0  186.0  183.0  183.0    False

In [5]:
import pandas as pd

{'AMZN':                         date   open   high    low  close  uptrend
 0  2024-04-23 10:55:00-04:00  174.0  177.0  174.0  177.0     True
 1  2024-04-24 09:35:00-04:00  177.0  180.0  177.0  180.0     True
 2  2024-04-25 09:30:00-04:00  177.0  177.0  174.0  174.0    False
 3  2024-04-25 09:30:00-04:00  174.0  174.0  171.0  171.0    False
 4  2024-04-26 09:35:00-04:00  174.0  177.0  174.0  177.0     True
 5  2024-04-26 12:35:00-04:00  177.0  180.0  177.0  180.0     True
 6  2024-05-01 14:40:00-04:00  180.0  183.0  180.0  183.0     True
 7  2024-05-03 09:30:00-04:00  183.0  186.0  183.0  186.0     True
 8  2024-05-07 09:40:00-04:00  186.0  189.0  186.0  189.0     True
 9  2024-05-21 09:30:00-04:00  186.0  186.0  183.0  183.0    False,
 'GOOG':                          date   open   high    low  close  uptrend
 0   2024-04-23 10:55:00-04:00  156.0  159.0  156.0  159.0     True
 1   2024-04-26 09:30:00-04:00  159.0  162.0  159.0  162.0     True
 2   2024-04-26 09:30:00-04:00  162.0  165.0  162.0  165.0     True
 3   2024-04-26 09:30:00-04:00  165.0  168.0  165.0  168.0     True
 4   2024-04-26 09:30:00-04:00  168.0  171.0  168.0  171.0     True
 5   2024-04-26 09:35:00-04:00  171.0  174.0  171.0  174.0     True
 6   2024-04-29 14:30:00-04:00  171.0  171.0  168.0  168.0    False
 7   2024-04-30 15:55:00-04:00  168.0  168.0  165.0  165.0    False
 8   2024-05-07 09:30:00-04:00  168.0  171.0  168.0  171.0     True
 9   2024-05-16 09:30:00-04:00  171.0  174.0  171.0  174.0     True
 10  2024-05-17 10:30:00-04:00  174.0  177.0  174.0  177.0     True,
 'MSFT':                          date   open   high    low  close  uptrend
 0   2024-04-23 10:55:00-04:00  396.0  402.0  396.0  402.0     True
 1   2024-04-24 09:30:00-04:00  402.0  408.0  402.0  408.0     True
 2   2024-04-25 09:30:00-04:00  402.0  402.0  396.0  396.0    False
 3   2024-04-25 09:40:00-04:00  396.0  396.0  390.0  390.0    False
 4   2024-04-26 09:30:00-04:00  396.0  402.0  396.0  402.0     True
 5   2024-04-26 09:30:00-04:00  402.0  408.0  402.0  408.0     True
 6   2024-04-30 12:30:00-04:00  402.0  402.0  396.0  396.0    False
 7   2024-04-30 15:55:00-04:00  396.0  396.0  390.0  390.0    False
 8   2024-05-03 09:30:00-04:00  396.0  402.0  396.0  402.0     True
 9   2024-05-06 09:40:00-04:00  402.0  408.0  402.0  408.0     True
 10  2024-05-10 09:30:00-04:00  408.0  414.0  408.0  414.0     True
 11  2024-05-15 09:35:00-04:00  414.0  420.0  414.0  420.0     True
 12  2024-05-20 09:50:00-04:00  420.0  426.0  420.0  426.0     True
 13  2024-05-21 11:45:00-04:00  426.0  432.0  426.0  432.0     True}

In [1]:
import talib

In [2]:

?talib.BOP

Signature: talib.BOP(open, high, low, close)
Docstring:
BOP(open, high, low, close)

Balance Of Power (Momentum Indicators)

Inputs:
    prices: ['open', 'high', 'low', 'close']
Outputs:
    real
Type:      function

In [3]:
dir(talib)

['ACOS',
 'AD',
 'ADD',
 'ADOSC',
 'ADX',
 'ADXR',
 'APO',
 'AROON',
 'AROONOSC',
 'ASIN',
 'ATAN',
 'ATR',
 'AVGPRICE',
 'BBANDS',
 'BETA',
 'BOP',
 'CCI',
 'CDL2CROWS',
 'CDL3BLACKCROWS',
 'CDL3INSIDE',
 'CDL3LINESTRIKE',
 'CDL3OUTSIDE',
 'CDL3STARSINSOUTH',
 'CDL3WHITESOLDIERS',
 'CDLABANDONEDBABY',
 'CDLADVANCEBLOCK',
 'CDLBELTHOLD',
 'CDLBREAKAWAY',
 'CDLCLOSINGMARUBOZU',
 'CDLCONCEALBABYSWALL',
 'CDLCOUNTERATTACK',
 'CDLDARKCLOUDCOVER',
 'CDLDOJI',
 'CDLDOJISTAR',
 'CDLDRAGONFLYDOJI',
 'CDLENGULFING',
 'CDLEVENINGDOJISTAR',
 'CDLEVENINGSTAR',
 'CDLGAPSIDESIDEWHITE',
 'CDLGRAVESTONEDOJI',
 'CDLHAMMER',
 'CDLHANGINGMAN',
 'CDLHARAMI',
 'CDLHARAMICROSS',
 'CDLHIGHWAVE',
 'CDLHIKKAKE',
 'CDLHIKKAKEMOD',
 'CDLHOMINGPIGEON',
 'CDLIDENTICAL3CROWS',
 'CDLINNECK',
 'CDLINVERTEDHAMMER',
 'CDLKICKING',
 'CDLKICKINGBYLENGTH',
 'CDLLADDERBOTTOM',
 'CDLLONGLEGGEDDOJI',
 'CDLLONGLINE',
 'CDLMARUBOZU',
 'CDLMATCHINGLOW',
 'CDLMATHOLD',
 'CDLMORNINGDOJISTAR',
 'CDLMORNINGSTAR',
 'CDLONNECK',
 'CDLPIERCING',
 'CDLRICKSHAWMAN',
 'CDLRISEFALL3METHODS',
 'CDLSEPARATINGLINES',
 'CDLSHOOTINGSTAR',
 'CDLSHORTLINE',
 'CDLSPINNINGTOP',
 'CDLSTALLEDPATTERN',
 'CDLSTICKSANDWICH',
 'CDLTAKURI',
 'CDLTASUKIGAP',
 'CDLTHRUSTING',
 'CDLTRISTAR',
 'CDLUNIQUE3RIVER',
 'CDLUPSIDEGAP2CROWS',
 'CDLXSIDEGAP3METHODS',
 'CEIL',
 'CMO',
 'CORREL',
 'COS',
 'COSH',
 'DEMA',
 'DIV',
 'DX',
 'EMA',
 'EXP',
 'FLOOR',
 'HT_DCPERIOD',
 'HT_DCPHASE',
 'HT_PHASOR',
 'HT_SINE',
 'HT_TRENDLINE',
 'HT_TRENDMODE',
 'KAMA',
 'LINEARREG',
 'LINEARREG_ANGLE',
 'LINEARREG_INTERCEPT',
 'LINEARREG_SLOPE',
 'LN',
 'LOG10',
 'MA',
 'MACD',
 'MACDEXT',
 'MACDFIX',
 'MAMA',
 'MAVP',
 'MAX',
 'MAXINDEX',
 'MA_Type',
 'MEDPRICE',
 'MFI',
 'MIDPOINT',
 'MIDPRICE',
 'MIN',
 'MININDEX',
 'MINMAX',
 'MINMAXINDEX',
 'MINUS_DI',
 'MINUS_DM',
 'MOM',
 'MULT',
 'NATR',
 'OBV',
 'PLUS_DI',
 'PLUS_DM',
 'PPO',
 'ROC',
 'ROCP',
 'ROCR',
 'ROCR100',
 'RSI',
 'SAR',
 'SAREXT',
 'SIN',
 'SINH',
 'SMA',
 'SQRT',
 'STDDEV',
 'STOCH',
 'STOCHF',
 'STOCHRSI',
 'SUB',
 'SUM',
 'T3',
 'TAN',
 'TANH',
 'TEMA',
 'TRANGE',
 'TRIMA',
 'TRIX',
 'TSF',
 'TYPPRICE',
 'ULTOSC',
 'VAR',
 'WCLPRICE',
 'WILLR',
 'WMA',
 '__TA_FUNCTION_NAMES__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__function_groups__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__ta_version__',
 '__version__',
 '_pd_Series',
 '_pl_Series',
 '_ta_initialize',
 '_ta_lib',
 '_ta_shutdown',
 '_wrapper',
 'atexit',
 'chain',
 'func',
 'func_name',
 'get_compatibility',
 'get_function_groups',
 'get_functions',
 'get_unstable_period',
 'set_compatibility',
 'set_unstable_period',
 'stream',
 'stream_ACOS',
 'stream_AD',
 'stream_ADD',
 'stream_ADOSC',
 'stream_ADX',
 'stream_ADXR',
 'stream_APO',
 'stream_AROON',
 'stream_AROONOSC',
 'stream_ASIN',
 'stream_ATAN',
 'stream_ATR',
 'stream_AVGPRICE',
 'stream_BBANDS',
 'stream_BETA',
 'stream_BOP',
 'stream_CCI',
 'stream_CDL2CROWS',
 'stream_CDL3BLACKCROWS',
 'stream_CDL3INSIDE',
 'stream_CDL3LINESTRIKE',
 'stream_CDL3OUTSIDE',
 'stream_CDL3STARSINSOUTH',
 'stream_CDL3WHITESOLDIERS',
 'stream_CDLABANDONEDBABY',
 'stream_CDLADVANCEBLOCK',
 'stream_CDLBELTHOLD',
 'stream_CDLBREAKAWAY',
 'stream_CDLCLOSINGMARUBOZU',
 'stream_CDLCONCEALBABYSWALL',
 'stream_CDLCOUNTERATTACK',
 'stream_CDLDARKCLOUDCOVER',
 'stream_CDLDOJI',
 'stream_CDLDOJISTAR',
 'stream_CDLDRAGONFLYDOJI',
 'stream_CDLENGULFING',
 'stream_CDLEVENINGDOJISTAR',
 'stream_CDLEVENINGSTAR',
 'stream_CDLGAPSIDESIDEWHITE',
 'stream_CDLGRAVESTONEDOJI',
 'stream_CDLHAMMER',
 'stream_CDLHANGINGMAN',
 'stream_CDLHARAMI',
 'stream_CDLHARAMICROSS',
 'stream_CDLHIGHWAVE',
 'stream_CDLHIKKAKE',
 'stream_CDLHIKKAKEMOD',
 'stream_CDLHOMINGPIGEON',
 'stream_CDLIDENTICAL3CROWS',
 'stream_CDLINNECK',
 'stream_CDLINVERTEDHAMMER',
 'stream_CDLKICKING',
 'stream_CDLKICKINGBYLENGTH',
 'stream_CDLLADDERBOTTOM',
 'stream_CDLLONGLEGGEDDOJI',
 'stream_CDLLONGLINE',
 'stream_CDLMARUBOZU',
 'stream_CDLMATCHINGLOW',
 'stream_CDLMATHOLD',
 'stream_CDLMORNINGDOJISTAR',
 'stream_CDLMORNINGSTAR',
 'stream_CDLONNECK',
 'stream_CDLPIERCING',
 'stream_CDLRICKSHAWMAN',
 'stream_CDLRISEFALL3METHODS',
 'stream_CDLSEPARATINGLINES',
 'stream_CDLSHOOTINGSTAR',
 'stream_CDLSHORTLINE',
 'stream_CDLSPINNINGTOP',
 'stream_CDLSTALLEDPATTERN',
 'stream_CDLSTICKSANDWICH',
 'stream_CDLTAKURI',
 'stream_CDLTASUKIGAP',
 'stream_CDLTHRUSTING',
 'stream_CDLTRISTAR',
 'stream_CDLUNIQUE3RIVER',
 'stream_CDLUPSIDEGAP2CROWS',
 'stream_CDLXSIDEGAP3METHODS',
 'stream_CEIL',
 'stream_CMO',
 'stream_CORREL',
 'stream_COS',
 'stream_COSH',
 'stream_DEMA',
 'stream_DIV',
 'stream_DX',
 'stream_EMA',
 'stream_EXP',
 'stream_FLOOR',
 'stream_HT_DCPERIOD',
 'stream_HT_DCPHASE',
 'stream_HT_PHASOR',
 'stream_HT_SINE',
 'stream_HT_TRENDLINE',
 'stream_HT_TRENDMODE',
 'stream_KAMA',
 'stream_LINEARREG',
 'stream_LINEARREG_ANGLE',
 'stream_LINEARREG_INTERCEPT',
 'stream_LINEARREG_SLOPE',
 'stream_LN',
 'stream_LOG10',
 'stream_MA',
 'stream_MACD',
 'stream_MACDEXT',
 'stream_MACDFIX',
 'stream_MAMA',
 'stream_MAVP',
 'stream_MAX',
 'stream_MAXINDEX',
 'stream_MEDPRICE',
 'stream_MFI',
 'stream_MIDPOINT',
 'stream_MIDPRICE',
 'stream_MIN',
 'stream_MININDEX',
 'stream_MINMAX',
 'stream_MINMAXINDEX',
 'stream_MINUS_DI',
 'stream_MINUS_DM',
 'stream_MOM',
 'stream_MULT',
 'stream_NATR',
 'stream_OBV',
 'stream_PLUS_DI',
 'stream_PLUS_DM',
 'stream_PPO',
 'stream_ROC',
 'stream_ROCP',
 'stream_ROCR',
 'stream_ROCR100',
 'stream_RSI',
 'stream_SAR',
 'stream_SAREXT',
 'stream_SIN',
 'stream_SINH',
 'stream_SMA',
 'stream_SQRT',
 'stream_STDDEV',
 'stream_STOCH',
 'stream_STOCHF',
 'stream_STOCHRSI',
 'stream_SUB',
 'stream_SUM',
 'stream_T3',
 'stream_TAN',
 'stream_TANH',
 'stream_TEMA',
 'stream_TRANGE',
 'stream_TRIMA',
 'stream_TRIX',
 'stream_TSF',
 'stream_TYPPRICE',
 'stream_ULTOSC',
 'stream_VAR',
 'stream_WCLPRICE',
 'stream_WILLR',
 'stream_WMA',
 'stream_func_name',
 'stream_func_names',
 'wrapped_func',
 'wraps']

In [6]:
talib.get_function_groups()['Pattern Recognition']

['CDL2CROWS',
 'CDL3BLACKCROWS',
 'CDL3INSIDE',
 'CDL3LINESTRIKE',
 'CDL3OUTSIDE',
 'CDL3STARSINSOUTH',
 'CDL3WHITESOLDIERS',
 'CDLABANDONEDBABY',
 'CDLADVANCEBLOCK',
 'CDLBELTHOLD',
 'CDLBREAKAWAY',
 'CDLCLOSINGMARUBOZU',
 'CDLCONCEALBABYSWALL',
 'CDLCOUNTERATTACK',
 'CDLDARKCLOUDCOVER',
 'CDLDOJI',
 'CDLDOJISTAR',
 'CDLDRAGONFLYDOJI',
 'CDLENGULFING',
 'CDLEVENINGDOJISTAR',
 'CDLEVENINGSTAR',
 'CDLGAPSIDESIDEWHITE',
 'CDLGRAVESTONEDOJI',
 'CDLHAMMER',
 'CDLHANGINGMAN',
 'CDLHARAMI',
 'CDLHARAMICROSS',
 'CDLHIGHWAVE',
 'CDLHIKKAKE',
 'CDLHIKKAKEMOD',
 'CDLHOMINGPIGEON',
 'CDLIDENTICAL3CROWS',
 'CDLINNECK',
 'CDLINVERTEDHAMMER',
 'CDLKICKING',
 'CDLKICKINGBYLENGTH',
 'CDLLADDERBOTTOM',
 'CDLLONGLEGGEDDOJI',
 'CDLLONGLINE',
 'CDLMARUBOZU',
 'CDLMATCHINGLOW',
 'CDLMATHOLD',
 'CDLMORNINGDOJISTAR',
 'CDLMORNINGSTAR',
 'CDLONNECK',
 'CDLPIERCING',
 'CDLRICKSHAWMAN',
 'CDLRISEFALL3METHODS',
 'CDLSEPARATINGLINES',
 'CDLSHOOTINGSTAR',
 'CDLSHORTLINE',
 'CDLSPINNINGTOP',
 'CDLSTALLEDPATTERN',
 'CDLSTICKSANDWICH',
 'CDLTAKURI',
 'CDLTASUKIGAP',
 'CDLTHRUSTING',
 'CDLTRISTAR',
 'CDLUNIQUE3RIVER',
 'CDLUPSIDEGAP2CROWS',
 'CDLXSIDEGAP3METHODS']

In [8]:
import yfinance as yf

In [9]:
data = yf.download("RELIANCE.NS",start="2020-01-01",end="2024-06-10")

[*********************100%%**********************]  1 of 1 completed

In [10]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,1387.957031,1396.277466,1376.527954,1380.276611,1360.645142,7002234
2020-01-02,1382.471069,1408.941040,1382.471069,1403.775024,1383.809326,8855158
2020-01-03,1401.671997,1409.581055,1392.528687,1405.466553,1385.476807,10492349
2020-01-06,1389.785767,1397.008911,1369.670410,1372.870605,1353.344482,12259588
2020-01-07,1388.871338,1403.043579,1383.842529,1393.991699,1374.165283,8341811
...,...,...,...,...,...,...
2024-06-03,2966.000000,3029.000000,2918.000000,3020.649902,3020.649902,10763971
2024-06-04,2996.100098,2996.100098,2718.600098,2794.550049,2794.550049,18354549
2024-06-05,2844.000000,2862.300049,2768.199951,2841.500000,2841.500000,8732445
2024-06-06,2870.000000,2887.399902,2842.699951,2863.199951,2863.199951,8927861
2024-06-07,2857.000000,2944.000000,2853.000000,2939.899902,2939.899902,9279348

In [13]:
arron=talib.AROONOSC(data['High'],data['Close'],timeperiod=14)
data['ARRON_INDICATOR'] = arron

In [16]:
RSI = talib.RSI(data["Close"],timeperiod=14)
data["RSI"] =RSI

In [17]:
data

,Open,High,Low,Close,Adj Close,Volume,ARRON_INDICATOR,RSI
Date,,,,,,,,
2020-01-01,1387.957031,1396.277466,1376.527954,1380.276611,1360.645142,7002234,NaN,NaN
2020-01-02,1382.471069,1408.941040,1382.471069,1403.775024,1383.809326,8855158,NaN,NaN
2020-01-03,1401.671997,1409.581055,1392.528687,1405.466553,1385.476807,10492349,NaN,NaN
2020-01-06,1389.785767,1397.008911,1369.670410,1372.870605,1353.344482,12259588,NaN,NaN
2020-01-07,1388.871338,1403.043579,1383.842529,1393.991699,1374.165283,8341811,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-06-03,2966.000000,3029.000000,2918.000000,3020.649902,3020.649902,10763971,100.000000,63.690969
2024-06-04,2996.100098,2996.100098,2718.600098,2794.550049,2794.550049,18354549,-7.142857,42.342948
2024-06-05,2844.000000,2862.300049,2768.199951,2841.500000,2841.500000,8732445,-7.142857,46.363277
2024-06-06,2870.000000,2887.399902,2842.699951,2863.199951,2863.199951,8927861,-7.142857,48.162405
2024-06-07,2857.000000,2944.000000,2853.000000,2939.899902,2939.899902,9279348,-7.142857,54.031623

In [19]:
data["ARRON_INDICATOR"].value_counts()

ARRON_INDICATOR
 78.571429     69
 100.000000    63
-78.571429     61
-42.857143     58
 64.285714     58
-35.714286     53
 42.857143     53
 57.142857     53
-64.285714     52
 92.857143     51
 85.714286     51
 50.000000     48
-50.000000     47
-57.142857     46
 71.428571     40
-28.571429     38
-71.428571     37
 28.571429     36
-85.714286     30
-100.000000    25
 35.714286     24
-92.857143     23
-21.428571     15
 21.428571     13
 14.285714     12
-7.142857      11
-14.285714      8
 7.142857       5
 0.000000       4
Name: count, dtype: int64

In [20]:
?talib.AROONOSC

Signature: talib.AROONOSC(high, low, timeperiod=-2147483648)
Docstring:
AROONOSC(high, low[, timeperiod=?])

Aroon Oscillator (Momentum Indicators)

Inputs:
    prices: ['high', 'low']
Parameters:
    timeperiod: 14
Outputs:
    real
Type:      function

### Using Abstract API

In [21]:
from talib import abstract

In [22]:
data

,Open,High,Low,Close,Adj Close,Volume,ARRON_INDICATOR,RSI
Date,,,,,,,,
2020-01-01,1387.957031,1396.277466,1376.527954,1380.276611,1360.645142,7002234,NaN,NaN
2020-01-02,1382.471069,1408.941040,1382.471069,1403.775024,1383.809326,8855158,NaN,NaN
2020-01-03,1401.671997,1409.581055,1392.528687,1405.466553,1385.476807,10492349,NaN,NaN
2020-01-06,1389.785767,1397.008911,1369.670410,1372.870605,1353.344482,12259588,NaN,NaN
2020-01-07,1388.871338,1403.043579,1383.842529,1393.991699,1374.165283,8341811,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-06-03,2966.000000,3029.000000,2918.000000,3020.649902,3020.649902,10763971,100.000000,63.690969
2024-06-04,2996.100098,2996.100098,2718.600098,2794.550049,2794.550049,18354549,-7.142857,42.342948
2024-06-05,2844.000000,2862.300049,2768.199951,2841.500000,2841.500000,8732445,-7.142857,46.363277
2024-06-06,2870.000000,2887.399902,2842.699951,2863.199951,2863.199951,8927861,-7.142857,48.162405
2024-06-07,2857.000000,2944.000000,2853.000000,2939.899902,2939.899902,9279348,-7.142857,54.031623

In [28]:
data.rename(columns = {"High":"high","Open":"open","Close":"close","Volume":'volume',"Low":"low"},inplace=True)

In [30]:

engulfing=abstract.CDLENGULFING(data)

In [31]:
data['Engulfing'] = engulfing

In [32]:
data

,open,high,low,close,Adj Close,volume,ARRON_INDICATOR,RSI,Engulfing
Date,,,,,,,,,
2020-01-01,1387.957031,1396.277466,1376.527954,1380.276611,1360.645142,7002234,NaN,NaN,0
2020-01-02,1382.471069,1408.941040,1382.471069,1403.775024,1383.809326,8855158,NaN,NaN,0
2020-01-03,1401.671997,1409.581055,1392.528687,1405.466553,1385.476807,10492349,NaN,NaN,0
2020-01-06,1389.785767,1397.008911,1369.670410,1372.870605,1353.344482,12259588,NaN,NaN,0
2020-01-07,1388.871338,1403.043579,1383.842529,1393.991699,1374.165283,8341811,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
2024-06-03,2966.000000,3029.000000,2918.000000,3020.649902,3020.649902,10763971,100.000000,63.690969,0
2024-06-04,2996.100098,2996.100098,2718.600098,2794.550049,2794.550049,18354549,-7.142857,42.342948,0
2024-06-05,2844.000000,2862.300049,2768.199951,2841.500000,2841.500000,8732445,-7.142857,46.363277,0
2024-06-06,2870.000000,2887.399902,2842.699951,2863.199951,2863.199951,8927861,-7.142857,48.162405,0
2024-06-07,2857.000000,2944.000000,2853.000000,2939.899902,2939.899902,9279348,-7.142857,54.031623,100

In [33]:
data['Engulfing'].value_counts()

Engulfing
 0      1015
-100      56
 100      27
Name: count, dtype: int64