In [1]:
# =============================================================================
# Import OHLCV data and transform it to Renko
# Author : Mayank Rasu (http://rasuquant.com/wp/)

# Please report bug/issues in the Q&A section
# =============================================================================

# Import necesary libraries
import yfinance as yf
from stocktrends import Renko

# Download historical data for required stocks
tickers = ["AMZN","GOOG","MSFT"]
ohlcv_data = {}
hour_data = {}
renko_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp
    temp = yf.download(ticker,period='1y',interval='1h')
    temp.dropna(how="any",inplace=True)
    hour_data[ticker] = temp
    
def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L","H-PC","L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]

def renko_DF(DF, hourly_df):
    "function to convert ohlc data into renko bricks"
    df = DF.copy()
    df.reset_index(inplace=True)
    df.drop("Close",axis=1,inplace=True)
    df.columns = ["date","open","high","low","close","volume"]
    df2 = Renko(df)
    df2.brick_size = 3*round(ATR(hourly_df,120).iloc[-1],0)
    renko_df = df2.get_ohlc_data() #if using older version of the library please use get_bricks() instead
    return renko_df

for ticker in ohlcv_data:
    renko_data[ticker] = renko_DF(ohlcv_data[ticker],hour_data[ticker])

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [9]:
ohlcv_data

{'AMZN':                                  Open        High         Low       Close  \
 Datetime
 2024-04-23 10:55:00-04:00  177.859695  178.199997  177.824997  178.100006
 2024-04-23 11:00:00-04:00  178.110001  178.149994  177.320007  177.444702
 2024-04-23 11:05:00-04:00  177.449997  177.630005  177.410004  177.559998
 2024-04-23 11:10:00-04:00  177.589996  178.139999  177.589996  178.110107
 2024-04-23 11:15:00-04:00  178.130005  178.330002  178.029999  178.139999
 ...                               ...         ...         ...         ...
 2024-05-23 10:35:00-04:00  182.740097  183.233002  182.740097  183.220001
 2024-05-23 10:40:00-04:00  183.219894  183.304993  182.910004  182.945007
 2024-05-23 10:45:00-04:00  182.964996  183.349197  182.940094  183.300003
 2024-05-23 10:50:00-04:00  183.300003  183.330002  182.759995  182.761307
 2024-05-23 10:55:00-04:00  182.759995  182.832993  182.539993  182.740005

                             Adj Close  Volume
 Datetime
 2024-04-23 10:55:00-04:00  178.100006       0
 2024-04-23 11:00:00-04:00  177.444702  352941
 2024-04-23 11:05:00-04:00  177.559998  231957
 2024-04-23 11:10:00-04:00  178.110107  270100
 2024-04-23 11:15:00-04:00  178.139999  360744
 ...                               ...     ...
 2024-05-23 10:35:00-04:00  183.220001  373462
 2024-05-23 10:40:00-04:00  182.945007  284798
 2024-05-23 10:45:00-04:00  183.300003  302916
 2024-05-23 10:50:00-04:00  182.761307  214676
 2024-05-23 10:55:00-04:00  182.740005  234564

 [1715 rows x 6 columns],
 'GOOG':                                  Open        High         Low       Close  \
 Datetime
 2024-04-23 10:55:00-04:00  159.619995  159.964996  159.539993  159.929993
 2024-04-23 11:00:00-04:00  159.934998  159.990005  159.429993  159.460007
 2024-04-23 11:05:00-04:00  159.468002  159.664993  159.460007  159.660004
 2024-04-23 11:10:00-04:00  159.669998  159.970001  159.669998  159.899994
 2024-04-23 11:15:00-04:00  159.910004  160.048004  159.845001  160.005005
 ...                               ...         ...         ...         ...
 2024-05-23 10:35:00-04:00  177.395401  177.589996  177.350006  177.429993
 2024-05-23 10:40:00-04:00  177.429993  177.440002  177.070007  177.149994
 2024-05-23 10:45:00-04:00  177.160004  177.320007  177.139999  177.270004
 2024-05-23 10:50:00-04:00  177.279999  177.300003  177.080002  177.080002
 2024-05-23 10:55:00-04:00  177.059998  177.134995  176.979996  177.086197

                             Adj Close  Volume
 Datetime
 2024-04-23 10:55:00-04:00  159.929993       0
 2024-04-23 11:00:00-04:00  159.460007  216628
 2024-04-23 11:05:00-04:00  159.660004  107263
 2024-04-23 11:10:00-04:00  159.899994  141330
 2024-04-23 11:15:00-04:00  160.005005  190398
 ...                               ...     ...
 2024-05-23 10:35:00-04:00  177.429993  149369
 2024-05-23 10:40:00-04:00  177.149994  133132
 2024-05-23 10:45:00-04:00  177.270004  110520
 2024-05-23 10:50:00-04:00  177.080002  114999
 2024-05-23 10:55:00-04:00  177.086197  161285

 [1715 rows x 6 columns],
 'MSFT':                                  Open        High         Low       Close  \
 Datetime
 2024-04-23 10:55:00-04:00  407.339996  407.619995  407.239990  407.450012
 2024-04-23 11:00:00-04:00  407.480011  407.700012  406.170013  406.440002
 2024-04-23 11:05:00-04:00  406.425812  406.640015  405.839996  406.000000
 2024-04-23 11:10:00-04:00  406.040009  406.809998  406.040009  406.739990
 2024-04-23 11:15:00-04:00  406.790009  406.869995  406.529999  406.579803
 ...                               ...         ...         ...         ...
 2024-05-23 10:35:00-04:00  432.220001  432.599915  432.070007  432.535004
 2024-05-23 10:40:00-04:00  432.524994  432.750000  432.269989  432.285004
 2024-05-23 10:45:00-04:00  432.230011  432.299988  431.750000  431.787598
 2024-05-23 10:50:00-04:00  431.750000  431.850006  431.359985  431.600006
 2024-05-23 10:55:00-04:00  431.600006  431.600006  430.690002  430.690002

                             Adj Close  Volume
 Datetime
 2024-04-23 10:55:00-04:00  407.450012       0
 2024-04-23 11:00:00-04:00  406.440002  156235
 2024-04-23 11:05:00-04:00  406.000000  132899
 2024-04-23 11:10:00-04:00  406.739990  105048
 2024-04-23 11:15:00-04:00  406.579803  122228
 ...                               ...     ...
 2024-05-23 10:35:00-04:00  432.535004  174086
 2024-05-23 10:40:00-04:00  432.285004  227988
 2024-05-23 10:45:00-04:00  431.787598  112100
 2024-05-23 10:50:00-04:00  431.600006  146190
 2024-05-23 10:55:00-04:00  430.690002  130616

 [1715 rows x 6 columns]}

In [8]:
renko_data['AMZN']

                        date   open   high    low  close  uptrend
0  2024-04-23 10:55:00-04:00  174.0  177.0  174.0  177.0     True
1  2024-04-24 09:35:00-04:00  177.0  180.0  177.0  180.0     True
2  2024-04-25 09:30:00-04:00  177.0  177.0  174.0  174.0    False
3  2024-04-25 09:30:00-04:00  174.0  174.0  171.0  171.0    False
4  2024-04-26 09:35:00-04:00  174.0  177.0  174.0  177.0     True
5  2024-04-26 12:35:00-04:00  177.0  180.0  177.0  180.0     True
6  2024-05-01 14:40:00-04:00  180.0  183.0  180.0  183.0     True
7  2024-05-03 09:30:00-04:00  183.0  186.0  183.0  186.0     True
8  2024-05-07 09:40:00-04:00  186.0  189.0  186.0  189.0     True
9  2024-05-21 09:30:00-04:00  186.0  186.0  183.0  183.0    False

In [5]:
import pandas as pd

{'AMZN':                         date   open   high    low  close  uptrend
 0  2024-04-23 10:55:00-04:00  174.0  177.0  174.0  177.0     True
 1  2024-04-24 09:35:00-04:00  177.0  180.0  177.0  180.0     True
 2  2024-04-25 09:30:00-04:00  177.0  177.0  174.0  174.0    False
 3  2024-04-25 09:30:00-04:00  174.0  174.0  171.0  171.0    False
 4  2024-04-26 09:35:00-04:00  174.0  177.0  174.0  177.0     True
 5  2024-04-26 12:35:00-04:00  177.0  180.0  177.0  180.0     True
 6  2024-05-01 14:40:00-04:00  180.0  183.0  180.0  183.0     True
 7  2024-05-03 09:30:00-04:00  183.0  186.0  183.0  186.0     True
 8  2024-05-07 09:40:00-04:00  186.0  189.0  186.0  189.0     True
 9  2024-05-21 09:30:00-04:00  186.0  186.0  183.0  183.0    False,
 'GOOG':                          date   open   high    low  close  uptrend
 0   2024-04-23 10:55:00-04:00  156.0  159.0  156.0  159.0     True
 1   2024-04-26 09:30:00-04:00  159.0  162.0  159.0  162.0     True
 2   2024-04-26 09:30:00-04:00  162.0  165.0  162.0  165.0     True
 3   2024-04-26 09:30:00-04:00  165.0  168.0  165.0  168.0     True
 4   2024-04-26 09:30:00-04:00  168.0  171.0  168.0  171.0     True
 5   2024-04-26 09:35:00-04:00  171.0  174.0  171.0  174.0     True
 6   2024-04-29 14:30:00-04:00  171.0  171.0  168.0  168.0    False
 7   2024-04-30 15:55:00-04:00  168.0  168.0  165.0  165.0    False
 8   2024-05-07 09:30:00-04:00  168.0  171.0  168.0  171.0     True
 9   2024-05-16 09:30:00-04:00  171.0  174.0  171.0  174.0     True
 10  2024-05-17 10:30:00-04:00  174.0  177.0  174.0  177.0     True,
 'MSFT':                          date   open   high    low  close  uptrend
 0   2024-04-23 10:55:00-04:00  396.0  402.0  396.0  402.0     True
 1   2024-04-24 09:30:00-04:00  402.0  408.0  402.0  408.0     True
 2   2024-04-25 09:30:00-04:00  402.0  402.0  396.0  396.0    False
 3   2024-04-25 09:40:00-04:00  396.0  396.0  390.0  390.0    False
 4   2024-04-26 09:30:00-04:00  396.0  402.0  396.0  402.0     True
 5   2024-04-26 09:30:00-04:00  402.0  408.0  402.0  408.0     True
 6   2024-04-30 12:30:00-04:00  402.0  402.0  396.0  396.0    False
 7   2024-04-30 15:55:00-04:00  396.0  396.0  390.0  390.0    False
 8   2024-05-03 09:30:00-04:00  396.0  402.0  396.0  402.0     True
 9   2024-05-06 09:40:00-04:00  402.0  408.0  402.0  408.0     True
 10  2024-05-10 09:30:00-04:00  408.0  414.0  408.0  414.0     True
 11  2024-05-15 09:35:00-04:00  414.0  420.0  414.0  420.0     True
 12  2024-05-20 09:50:00-04:00  420.0  426.0  420.0  426.0     True
 13  2024-05-21 11:45:00-04:00  426.0  432.0  426.0  432.0     True}