In [11]:
# -*- coding: utf-8 -*-
"""
Getting data Using yfinance library

@author: Mayank Rasu (http://rasuquant.com/wp/)
"""

import yfinance as yf

# get ohlcv data for any ticker by period.
data = yf.download("MSFT", period='1mo', interval="5m")

# get ohlcv data for any ticker by start date and end date
data = yf.download("MSFT", start="2017-01-01", end="2020-04-24")

# get intraday data for any ticker by period.
data = yf.download("MSFT", period='1mo', interval="5m")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [12]:
data

Datetime
2023-11-07 10:45:00-05:00    361.475006
2023-11-07 10:50:00-05:00    361.790009
2023-11-07 10:55:00-05:00    361.440002
2023-11-07 11:00:00-05:00    361.450012
2023-11-07 11:05:00-05:00    361.670013
                                ...
2023-12-07 10:25:00-05:00    369.734985
2023-12-07 10:30:00-05:00    368.734985
2023-12-07 10:35:00-05:00    368.959991
2023-12-07 10:40:00-05:00    368.510010
2023-12-07 10:45:00-05:00    368.479004
Name: Adj Close, Length: 1601, dtype: float64

In [22]:
# =============================================================================
# Import OHLCV data and perform basic data operations
# Author : Mayank Rasu (http://rasuquant.com/wp/)

# Please report bug/issues in the Q&A section
# =============================================================================

import datetime as dt
import yfinance as yf
import pandas as pd

In [45]:
tickers = ["AMZN","MSFT"," META","GOOG"]
start = dt.datetime.today()-dt.timedelta(3650)
end = dt.datetime.today()
cl_price = pd.DataFrame()
# empty dataframe which will be filled with closing prices of each stock

# looping over tickers and creating a dataframe with close prices
for ticker in tickers:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]
    print(cl_price.head())
cl_price.dropna(inplace=True)

[*********************100%%**********************]  1 of 1 completed
                 AMZN
Date
2013-12-10  19.389000
2013-12-11  19.109501
2013-12-12  19.062500
2013-12-13  19.212000
2013-12-16  19.448500
[*********************100%%**********************]  1 of 1 completed
                 AMZN       MSFT
Date
2013-12-10  19.389000  32.090775
2013-12-11  19.109501  31.669746
2013-12-12  19.062500  31.341341
2013-12-13  19.212000  30.895058
2013-12-16  19.448500  31.063461
[*********************100%%**********************]  1 of 1 completed
                 AMZN       MSFT       META
Date
2013-12-10  19.389000  32.090775  50.250000
2013-12-11  19.109501  31.669746  49.380001
2013-12-12  19.062500  31.341341  51.830002
2013-12-13  19.212000  30.895058  53.320000
2013-12-16  19.448500  31.063461  53.810001
[*********************100%%**********************]  1 of 1 completed
                 AMZN       MSFT       META       GOOG
Date
2013-12-10  19.389000  32.090775  50.250000  27.015240
2013-12-11  19.109501  31.669746  49.380001  26.831678
2013-12-12  19.062500  31.341341  51.830002  26.649113
2013-12-13  19.212000  30.895058  53.320000  26.420719
2013-12-16  19.448500  31.063461  53.810001  26.724331

In [46]:
cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]

[*********************100%%**********************]  1 of 1 completed

In [47]:
cl_price

                  AMZN        MSFT        META        GOOG
Date
2013-12-10   19.389000   32.090775   50.250000   27.015240
2013-12-11   19.109501   31.669746   49.380001   26.831678
2013-12-12   19.062500   31.341341   51.830002   26.649113
2013-12-13   19.212000   30.895058   53.320000   26.420719
2013-12-16   19.448500   31.063461   53.810001   26.724331
...                ...         ...         ...         ...
2023-12-01  147.029999  374.510010  324.820007  133.320007
2023-12-04  144.839996  369.140015  320.019989  130.630005
2023-12-05  146.880005  372.519989  318.290009  132.389999
2023-12-06  144.520004  368.799988  317.450012  131.429993
2023-12-07  146.649994  368.119995  324.089996  137.565002

[2516 rows x 4 columns]

In [48]:
#familiarizing with data
cl_price.head(8) #prints the first 8 rows of the dataframe
cl_price.tail() #prints the last 5 rows of the dataframe
cl_price.describe() #performs summary statistic of each numerical columns in the datafrme

# Mean, Median, Standard Deviation
cl_price.mean() #calculates mean stock price for each stock
cl_price.median() #calculates median stock price for each stock
cl_price.std() #calculates standard deviation of stock price for each stock

# Return calculation
daily_return = cl_price.pct_change() #Creates dataframe with daily return for each stock
daily_return = cl_price/cl_price.shift(1) - 1 #Performs same operation as above

daily_return.mean(axis=1) #prints mean daily return for each stock
daily_return.std() #prints standard deviation of daily returns for each stock

AMZN     0.020898
MSFT     0.017055
 META    0.023616
GOOG     0.017587
dtype: float64

In [38]:
cl_price

Empty DataFrame
Columns: [AMZN, MSFT, FB, GOOG]
Index: []

In [30]:
cl_price[ticker] = yf.download('MSFT',start,end)['Adj Close']

[*********************100%%**********************]  1 of 1 completed

In [31]:
cl_price

                  GOOG
Date
2013-12-10   32.090778
2013-12-11   31.669744
2013-12-12   31.341356
2013-12-13   30.895050
2013-12-16   31.063471
...                ...
2023-12-01  374.510010
2023-12-04  369.140015
2023-12-05  372.519989
2023-12-06  368.799988
2023-12-07  368.140991

[2516 rows x 1 columns]

In [6]:
# looping over tickers and creating a dataframe with close prices
for ticker in tickers:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]
    
#dropping NaN values
cl_price.dropna(axis=0,how='any',inplace=True)

#familiarizing with data
cl_price.head(8) #prints the first 8 rows of the dataframe
cl_price.tail() #prints the last 5 rows of the dataframe
cl_price.describe() #performs summary statistic of each numerical columns in the datafrme

# Mean, Median, Standard Deviation
cl_price.mean() #calculates mean stock price for each stock
cl_price.median() #calculates median stock price for each stock
cl_price.std() #calculates standard deviation of stock price for each stock

# Return calculation
daily_return = cl_price.pct_change() #Creates dataframe with daily return for each stock
daily_return = cl_price/cl_price.shift(1) - 1 #Performs same operation as above

daily_return.mean(axis=1) #prints mean daily return for each stock
daily_return.std() #prints standard deviation of daily returns for each stock

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FB']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed

AMZN   NaN
MSFT   NaN
FB     NaN
GOOG   NaN
dtype: float64